---
const name = "Fernando A.";

const role = {
    imgSrc: "imgs/roleImg.svg",
    imgAlt: "role img",
    content: "Programador",
};

const phrase =
    "Ya caminaste sobre fuego y sigues aquí, no dudes ni un segundo de ti.";

const profession = {
    imgSrc: "imgs/professionImg.svg",
    imgAlt: "profession img",
    content: "Ingeniero de Sistemas Computacionales",
};

const softSkills = [
    {
        content: "Comunicación efectiva",
        imgSrc: "imgs/ss_communication.svg",
        imgAlt: "communication img",
        stars: 5,
    },
    {
        content: "Trabajo en equipo",
        imgSrc: "imgs/ss_teamwork.svg",
        imgAlt: "teamwork img",
        stars: 4,
    },
    {
        content: "Aprendizaje continuo",
        imgSrc: "imgs/ss_learning.svg",
        imgAlt: "learning img",
        stars: 5,
    },
    {
        content: "Solución de problemas",
        imgSrc: "imgs/ss_troubleshooting.svg",
        imgAlt: "troubleshooting img",
        stars: 4,
    },
];

const profileImg = {
    src: "/imgs/profile.jpg",
    alt: "profile img",
};
---

<aside class="info">
    <div class="info__role">
        <img class="info__role__img" src={role.imgSrc} alt={role.imgAlt} />
        <small class="info__role__text">{role.content}</small>
    </div>
    <h2 class="info__name">{name}</h2>
    <p class="info__phrase">{phrase}</p>
    <div class="info__profession">
        <img
            class="info__profession__img"
            src={profession.imgSrc}
            alt={profession.imgAlt}
        />
        <h3 class="info__profession__text">{profession.content}</h3>
    </div>
    <img class="info__profile-img" src={profileImg.src} alt={profileImg.alt} />
    <div class="info__soft-skills">
        {
            softSkills.map((item) => {
                return (
                    <div class="info__soft-skills__item">
                        <img
                            class="info__soft-skills__item__img"
                            src={item.imgSrc}
                            alt={item.imgAlt}
                        />
                        <h4 class="info__soft-skills__item__text">
                            {item.content}
                        </h4>
                        <div class="info__soft-skills__item__stars">
                            {Array.from({ length: 5 }).map((_, pos) => {
                                return (
                                    <img
                                        class="info__soft-skills__item__stars__img"
                                        src={pos < item.stars ? "/imgs/star.svg" : "/imgs/star_empty.svg"}
                                        alt="star img"
                                    />
                                );
                            })}
                        </div>
                    </div>
                );
            })
        }
    </div>
</aside>

<style>
    .info {
        padding: 0 2rem;
        max-height: 100vh;

        display: flex;
        flex-direction: column;

        margin: auto;

        grid-area: left-aside;
    }

    .info__role {
        display: flex;
        align-items: center;
        justify-content: start;
        gap: 0.5rem;
    }

    .info__role__img {
        width: 1.5rem;
    }

    .info__role__text {
        color: var(--color-gray);
        font-family: "EuroStyle";
        font-size: 1rem;
    }

    .info__name {
        font-size: 2rem;
        color: var(--color-white);
        margin: 0;
        font-family: "Mastodon";
        font-size: 2.5rem;
    }

    .info__phrase {
        padding: 0.5rem 0;
        color: var(--color-white);
        font-style: italic;
        text-align: center;
        font-family: "EuroStyle";
        font-size: 1rem;
        margin: auto;
    }

    .info__profession {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1rem;
        padding: 1rem;
        height: 1.5rem;
        background-color: var(--color-green-50);
    }

    .info__profession__img {
        width: 2rem;
    }

    .info__profession__text {
        text-wrap: pretty;
        text-align: center;
        font-size: medium;
        font-family: "Mastodon";
        color: var(--color-white);
    }

    .info__profile-img {
        width: 90%;
        padding: 0.3rem 0;
    }

    .info__soft-skills {
        display: grid;
        gap: 0.3rem;

        place-items: center;
    }

    .info__soft-skills__item {
        display: grid;
        grid-template-columns: .5fr 1fr .5fr;
        grid-template-areas: "soft-skill__img soft-skill__text soft-skill__stars";
        place-content: center;
        width: 100%;
        gap:.3rem;
        background-color: var(--color-foreground);
    }

    .info__soft-skills__item__img {
        width: 1.5rem;
        margin: auto;
    }

    .info__soft-skills__item__text {
        text-align: start;
        color: var(--color-white);

        font-family: "EuroStyle";
    }

    .info__soft-skills__item__stars{
        display: flex;
    }

    .info__soft-skills__item__stars__img{
        width: .8rem;
    }
</style>
